{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'icl_time/css/bemo.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    Welcome to part 2 of the BEMO study!
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}

{% block content %}

<div class="instructions">
<h4></h4>
    
    <input type="hidden" name="is_mobile" id="is_mobile">
    <p> Once again you will be asked to make a series of decisions among potential monetary outcomes. Upon completion of the survey, you will receive extra credit points for your course and we will randomly generate a “lottery draw” based on one of the choices you made. </p> <br>

    <p> Thank you for participating in the study. If you want to watch (parts of) the instructional video again, you can do so on the next page.    </p> <br>


</div>

    {% next_button %}

    <script>
        function isMobile() {
            const toMatch = [
                /Android/i,
                /iPhone/i,
                /iPad/i,
            ];
    
            return toMatch.some((item) => navigator.userAgent.match(item));
        }
    
        // here is an alternative technique that checks screen resolution
        // function isMobile() {
        //     return ((window.innerWidth <= 800) && (window.innerHeight <= 600));
        // }
    
        forminputs.is_mobile.value = isMobile() ? 1 : 0;
    
    </script>


{% endblock %}
