{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
  <link href="{% static 'icl_time/css/custom.css' %}" rel="stylesheet">
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Your Decision" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="container">
      <div class="row">
          <div class="col-md-12">

            <!-- ------------------------------------------------------------------------------------------------------- -->
            <!-- Progress Bar -->
            <!-- ------------------------------------------------------------------------------------------------------- -->
            {% if Constants.progress_bar == True %}
                <div class="card" style="border:none;">
                  <label>
                      {% blocktrans trimmed with page=page total=total %}
                          Page {{ page }} of {{ total }}
                      {% endblocktrans %}
                  </label>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width:{{ progress|json }}%;">
                        <span class="sr-only"></span>
                    </div>
                </div>
            {% endif %}


        <!-- ------------------------------------------------------------------------------------------------------- -->
        <!-- Table - Lottery Decisions (Option A/B) -->
        <!-- ------------------------------------------------------------------------------------------------------- -->
        <div class="card">
            <div class="card-header">
                {% trans "What do you prefer?" %}
            </div>

            <table class="table", style="text-align: center;">
                <thead>
                    <tr>
                        <th>{% trans "Option A:" %}</th>
                        <th>{% trans "Option B:" %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="formfield-td", style='white-space: pre-line'>
                            {% with hi=hi lo=lo p_hi=p_hi p_lo=p_lo c=currency percent='50' sym='%' %}
                                {% blocktrans trimmed %}
                                    {{ a_1 }} <br />
                                    {{ a_2 }} <br />
                                    {{ a_3 }} <br />
                                    <!-- {{ c }}{{ sure_payoff }} with probability {{ percent }}{{ sym }} <br>
                                    {{ c }}{{ sure_payoff }} with probability {{ percent }}{{ sym }} <br>
                                    {{ c }}{{ sure_payoff }} with probability {{ percent }}{{ sym }} <br> -->
                                {% endblocktrans %}
                            {% endwith %}
                            <input type="radio" name="choice" value="A" required>
                        </td>
                        <td class="formfield-td">
                            {% with sure_payoff=sure_payoff c=currency percent='50' sym='%' %}
                                {% blocktrans trimmed %}
                                    <!-- {{ sure_payoff }} -->
                                    {{ b_1 }} <br />
                                    {{ b_2 }} <br />
                                    {{ b_3 }} <br />
                                    <!-- {{ c }}{{ sure_payoff }} with probability {{ percent }}{{ sym }} <br>
                                    {{ c }}{{ sure_payoff }} with probability {{ percent }}{{ sym }} <br>
                                    {{ c }}{{ sure_payoff }} with probability {{ percent }}{{ sym }} <br> -->
                                {% endblocktrans %}
                            {% endwith %}
                            <input type="radio" name="choice" value="B" required>
                        </td>
                        <!-- <td class="formfield-td">
                            {% if Constants.buttons == True %}
                                <button class="btn btn-primary choice" name="choice" value="A" required>
                                    {% trans "Option A" %}
                                </button>
                            {% else %}
                                <input type="radio" name="choice" value="A" required>
                            {% endif %}
                        </td> -->
                    </tr>
                    <!-- Repeat similar blocks for additional rows if needed -->
            
                    <!-- Option B row -->
                    <!-- <tr>
                        <td>
                        </td>
                        <td class="formfield-td">
                            {% if Constants.buttons == True %}
                                <button class="btn btn-primary choice" name="choice" value="B" required>
                                    {% trans "Option B" %}
                                </button>
                            {% else %}
                                <input type="radio" name="choice" value="B" required>
                            {% endif %}
                        </td>
                    </tr> -->
            
                    <!-- Indifferent row (if applicable) -->
                    {% if Constants.indifference == True %}
                        <tr>
                            <td colspan="2">
                                {% blocktrans trimmed %}
                                    I'm indifferent between Option A and Option B
                                {% endblocktrans %}
                            </td>
                            <td class="formfield-td">
                                {% if Constants.buttons == True %}
                                    <button class="btn btn-primary choice" name="choice" value="I" required>
                                        {% trans "Indifferent" %}
                                    </button>
                                {% else %}
                                    <input type="radio" name="choice" value="I" required>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            
            
            <!-- <table class="table">
                <tr>
                    <th>{% trans "Option A:" %}</th>
                    <td>
                        {% with hi=hi lo=lo p_hi=p_hi p_lo=p_lo c=currency percent='50' sym='%' %}
                            {% blocktrans trimmed %}
                            {{ c }}{{ sure_payoff }} with probability {{ percent }}{{ sym }}
                            {{ c }}{{ sure_payoff }} with probability {{ percent }}{{ sym }}
                            {{ c }}{{ sure_payoff }} with probability {{ percent }}{{ sym }}
                            {% endblocktrans %}
                        {% endwith %}
                    </td>
                    <td class="formfield-td">
                        {% if Constants.buttons == True %}
                            <button class="btn btn-primary choice" name="choice" value="A" required>
                                {% trans "Option A" %}
                            </button>
                        {% else %}
                            <input type="radio" name="choice" value="A" required>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% trans "Option B:" %}
                    </th>
                    <td>
                        {% with sure_payoff=sure_payoff c=currency percent='50' sym='%' %}
                            {% blocktrans trimmed %}
                            {{ c }}{{ sure_payoff }} with probability {{ percent }}{{ sym }}
                            {{ c }}{{ sure_payoff }} with probability {{ percent }}{{ sym }}
                            {{ c }}{{ sure_payoff }} with probability {{ percent }}{{ sym }}
                            {% endblocktrans %}
                        {% endwith %}
                    </td>
                    <td class="formfield-td">
                        {% if Constants.buttons == True %}
                            <button class="btn btn-primary choice" name="choice" value="B" required>
                                {% trans "Option B" %}
                            </button>
                        {% else %}
                            <input type="radio" name="choice" value="B" required>
                        {% endif %}
                    </td>
                </tr>
                {% if Constants.indifference == True %}
                <tr>
                    <th>
                    </th>
                    <td>
                        {% blocktrans trimmed %}
                            I'm indifferent between Option A and Option B
                        {% endblocktrans %}
                    </td>
                    <td class="formfield-td">
                        {% if Constants.buttons == True %}
                            <button class="btn btn-primary choice" name="choice" value="I" required>
                                {% trans "Indifferent" %}
                            </button>
                        {% else %}
                            <input type="radio" name="choice" value="I" required>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            </table> -->
        
        </div>
      </div>
    </div>
    {% if Constants.buttons == False %}
        {% next_button %}
    {% endif %}

{% endblock %}
</div>
