{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'icl_time/css/bemo.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    Instruction Video
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}

{% block content %}

<div class="instructions">
<h4></h4>
    
    <input type="hidden" name="is_mobile" id="is_mobile">


</div>

    {% next_button %}

    <script>
        function isMobile() {
            const toMatch = [
                /Android/i,
                /iPhone/i,
                /iPad/i,
            ];
    
            return toMatch.some((item) => navigator.userAgent.match(item));
        }
    
        // here is an alternative technique that checks screen resolution
        // function isMobile() {
        //     return ((window.innerWidth <= 800) && (window.innerHeight <= 600));
        // }
    
        forminputs.is_mobile.value = isMobile() ? 1 : 0;
    
    </script>


{% endblock %}
